html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  background:#D9142B;
}

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

h1,h2,h3 {
  font-weight: 700;
  margin: 0;
  line-height: 120%;
}

button, p, input,textarea {
  line-height: normal;
  font-family: 'Montserrat', arial, sans-serif;
}

button:focus{
  background: transparent;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
  transition-delay: 3600s;
}