.navigation {
  position: fixed;
  z-index: 2;
  background-color: #000;
  visibility: hidden;
  line-height: normal;
  bottom:0;
  width: 100.1%;
  height: 60px;
  @media(min-width: 1024px) {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 200px;
    top:0;
    bottom:auto;
  }
  &__inner {
    position: relative; 
    height: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    grid-template-areas:'logo center-content';
    @media(min-width: 1024px) {
      grid-template-columns: 100%;
      grid-template-rows: 15% 1fr 30%;
      grid-template-areas:'logo'
      'center-content'
      'social';
    }
  }
  &__logo-container {
    grid-area: logo;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  &__logo-link {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__content {
    grid-area: center-content;
    @media(min-width: 768px) {
      width: 75%;
      justify-self: end;
    }
    @media(min-width: 1024px) {
      width: 100%;
      justify-self: auto;
      margin-bottom: 45%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__content-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4,25%);
    @media(min-width: 1024px) {
      display: block;
      height: auto;
      grid-template-columns: none;
      align-items: normal;
    }
  }
  &__social-media {
    position: absolute;
    right: 0;
    bottom: 5%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @media(min-width: 768px) {
      height: 250px;
    }
    @media(min-width: 1024px){
      grid-area: social;
      position: static;
      right:auto;
      bottom:auto;
      height: auto;
    }
  }
  &__logo {
    height: 70%;
    @media(min-width: 1024px) {
      height:90%;
    }
  }
  &__social-link {
    transform: rotate(-90deg);
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    @media(min-width: 768px) {
      font-size: 1.6rem;
    }
    @media(min-width: 1024px) {
      font-size: 1.2rem;
    }
    &.share {
      color: #646464;
    }
    &.twitter {
      color: #3591aa;
    }
    &.instagram {
      color: #a73350;
    }
    &.facebook {
      color: #3c76aa;
    }
  }
  &__button-container {
    overflow: hidden;
    padding: 0 5px;
    position: relative;
    @media(min-width: 1024px) {
      display: flex;
      flex-direction: column;
      padding:0;
    }
    &.--cars {
      opacity: 0;
    }
    &.--menu {
      grid-column: 4/5;
      grid-row: 1/2;
      @media(min-width: 1024px) {
        grid-column: auto;
        grid-row: auto;
      }
    }
    &.--sign{
      grid-column: 3/4;
      grid-row: 1/2;
      @media(min-width: 1024px) {
        grid-column: auto;
        grid-row: auto;
      }
    }
  }
  &__btn, &__btn-cars {
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    transition: 0.4s;
    height: 100%;
    width: 100%;
    padding-top: 25px;
    @media(min-width: 1024px){
      font-size: 1.6rem;
      margin-top: 15px;
      padding-top:0;
      width: auto;
      height: auto;
      &:hover {
        color: #F5B553;
        margin-left: 15px;
      }
    }
    &::before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
        @media(min-width: 1024px) {
          display:none;
        }
    }
    &.--sign-out::before {
      content:'\f011';
    }
    &.--sign-in-up::before {
      content: '\f007';
    }
    &.--cars::before {
      content:'\f1b9';
    }
    &.--menu::before {
      content:'\f14e';
    }
  }
  &__content-slogan {
    position:absolute;
    bottom: 50%;
    right:0;
    color: #000;
    font-size: 1.2rem;
    transform: rotate(-90deg) translateX(50%) translateY(100%);
    @media(min-width: 768px) {
      font-size: 1.6rem;
    }
    @media(min-width: 1024px) {
      font-size: 1.2rem;
      color: #fff;
      transform: rotate(-90deg) translateX(50%);
      position: static;
      bottom: auto;
      right:auto;
    }
  }
  &__user {
    padding: 0 5px;
    font-size: 1.2rem;
    color: #F5B553;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    @media(min-width: 1024px) {
      grid-column: auto;
      grid-row: auto;
      align-self: auto;
    }
    & strong {
      font-weight: 700;
    }
    @media(min-width: 1024px) {
      margin-top: 15px;
      font-size: 1.8rem;
    }
  }
}